*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:linear-gradient(90deg, #0a4086 0%, #030836 100%);
}
#text{
    color:rgb(104, 103, 212);
}
header{
    font-size: x-large;
    color: white;
    display: flex;
    padding: 30px;
}
header h2{
    margin-left: 60px;
}
nav{
    margin-left: 50%;
}
nav a{
    padding: 10px;
    text-decoration: none;
    color: rgb(100, 91, 91);
}
#bc{
    background-color:rgb(107, 101, 251);
    color: white;
    border-radius: 10px;
}
section{
    text-align: center;
    margin-top: 150px;
    color: white;
}
section h6{
    color:rgb(113, 105, 222);
    letter-spacing: 2px;
    font-size: medium;
}
#gr{
	background: linear-gradient(to right, #b64afd 0%, #0099ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 20vw;
		family: $font;
	};
}
section h1{
    font-size: 80px;
}
section p{
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(119, 132, 152);
}
#bt{
    margin-top: 20px;
}
#bt button{
    background-color: rgb(107, 101, 251);
    color: white;
    padding: 10px 20px;
    font-size: medium;
    border-radius: 0px;
}
#cont{
    display: flex;
    justify-content: center;
}
.card{
    height: 200px;
    width: 200px;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
margin: 20px;
}